<div class="game">
    <div class="container scoreboard">
        <div class="row">
            <div class="col-sm-5">
                <div class="text-right">
                    <div class="gamelabel">
                        Home
                    </div>
                    <div>
                        {{game.home_team_name}}
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="text-center">
                    <div class="gamelabel">Score</div>
                    <div>{{game.home_team_score}} - {{game.away_team_score}}</div>
                </div>
                <div>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="text-left">
                    <div class="gamelabel">
                        Away
                    </div>
                    <div>
                        {{game.away_team_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="game">
    <div class="gameboard">
        TODO: Show board here
    </div>
</div>
