<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <i class="fab fa-python"></i> Fantasy Football AI
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-list"></span> Games</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" ng-click="modalVisible=true" style="cursor: pointer;"><span class="glyphicon glyphicon-floppy-{{ saved ? 'saved' : 'disk' }}"></span> Save</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" ng-show="modalVisible" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form role="form" ng-submit="saveGame(saveName);">
          <div class="modal-header">
              <span style="width:70%">
            <h5 class="modal-title">Save game</h5>
                  </span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>This will save the game one the server. Please, specify a name.</p>
              <div class="form-group">
                <label for="filename">Name</label>
                <input type="text" ng-model="saveName" class="form-control {{ modalError ? 'has-error' : '' }}" id="filename" placeholder="Enter a name">
              </div>
              <div class="alert alert-danger" ng-show="modelError">
                  <strong>Something went wrong!</strong> Try another name with more than 2 characters.
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="modalVisible=false">Cancel</button>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="game-free" ng-if="!loading">
    <div class="options">
        <a href="/#/"><span class="glyphicon glyphicon-arrow-left"></span></a>

        <div ng-click="saveGame()"></div>
    </div>
    <div class="scoreboard">
        <div class="row scoreboard-content">
            <div>
                <div class="emblem col-xs-4 text-right">
                    <div class="gamelabel">
                        Home
                    </div>
                    <div>
                        {{game.home_team.name}}
                    </div>
                    <div class="rerolls">
                        <div ng-repeat="n in [] | range:8" title="{{ 7-$index < game.state.home_state.rerolls ? 'Reroll' : (7-$index < game.state.home_state.rerolls_start ? 'Reroll used' : '') }}" class="reroll home {{ 7-$index < game.state.home_state.rerolls ? 'notused' : (7-$index < game.state.home_state.rerolls_start ? 'used' : 'none') }}"> </div>
                    </div>
                </div>
                <div class="col-xs-1 logo-home text-center">
                    <img src="static/img/teamlogos/{{game.home_team.race.toLowerCase()}}.gif" height="64" width="64" />
                </div>
                <div class="col-xs-2 no-padding">
                    <div class="text-center">
                        <div class="gamelabel">Score</div>
                        <div>{{game.state.home_state.score}} - {{game.state.away_state.score}}</div>
                    </div>
                    <div class="text-center" style="margin-top: -5px;">
                        <div class="team-icons">
                            <span><img src="static/img/weather/{{game.state.weather.toLowerCase()}}.gif" title="Weather is {{ game.state.weather.toLowerCase().replace('_', ' ')}}" width="20px" height="20px" /></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 logo-away text-center">
                    <div>
                        <img src="static/img/teamlogos/{{game.away_team.race.toLowerCase()}}.gif" height="64" width="64" />
                    </div>
                </div>
                <div class="emblem col-xs-4 text-left">
                    <div class="gamelabel">
                        Away
                    </div>
                    <div>
                        {{game.away_team.name}}
                    </div>
                    <div class="rerolls">
                        <div ng-repeat="n in [] | range:8" title="{{ $index < game.state.away_state.rerolls ? 'Reroll' : ($index < game.state.away_state.rerolls_start ? 'Reroll used' : '') }}" class="reroll away {{ $index < game.state.away_state.rerolls ? 'notused' : ($index < game.state.away_state.rerolls_start ? 'used' : 'none') }}"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row scoreboard-content">
            <div class="col-xs-4">
                <div class="team-icons text-right">
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/apothecary_38x38.png" ng-if="game.state.home_state.wizard_available" class="available" title="Wizard" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/wizard_38x38.png" ng-if="game.state.home_state.apothecary_available" class="available" title="Apothecary" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/bribe_38x38.png" ng-repeat="n in [] | range:game.state.home_state.bribes" class="available" title="Bribe" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/bloodweiser_babe_38x38.png" ng-repeat="n in [] | range:game.state.home_state.babes" class="available" title="Bloodweiser babe" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/master_chef_38x38.png" ng-if="game.state.home_state.masterchef" class="available" title="Master chef" width="20px" height="20px" /></span>
                </div>
            </div>
            <div class="col-xs-1 text-center {{ game.state.team_turn == true ? 'bold' : '' }} {{ currentProc(true) == 'Quick Snap!' ? 'small-text' : '' }}">
                <div class="proclabel" ng-if="game.state.home_state.turn != null">{{ currentProc(true) }}</div>
            </div>
            <div class="col-xs-2 text-center">
                <div class="proclabel">{{ currentProc(null) }}</div>
            </div>
            <div class="col-xs-1 text-center {{ game.state.team_turn == false ? 'bold' : '' }} {{ currentProc(false) == 'Quick Snap!' ? 'small-text' : '' }}">
                <div class="proclabel" ng-if="game.state.away_state.turn != null">{{ currentProc(false) }}</div>
            </div>
            <div class="col-xs-4">
                <div class="team-icons">
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/apothecary_38x38.png" ng-if="game.state.away_state.wizard_available" class="available" title="Wizard" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/wizard_38x38.png" ng-if="game.state.away_state.apothecary_available" class="available" title="Apothecary" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/bribe_38x38.png" ng-repeat="n in [] | range:game.state.away_state.bribes" class="available" title="Bribe" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/bloodweiser_babe_38x38.png" ng-repeat="n in [] | range:game.state.away_state.babes" class="available" title="Bloodweiser babe" width="20px" height="20px" /></span>
                    <span class="team-icon"><img src="static/img/icons/sidebar/resources/master_chef_38x38.png" ng-if="game.state.away_state.masterchef" class="available" title="Master chef" width="20px" height="20px" /></span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-sm-6 turnmarker {{ game.state.team_turn == true ? 'turnmarker-home-turn' : 'turnmarker-home' }}"></div>
            <div class="col-sm-6 turnmarker {{ game.state.team_turn == false ? 'turnmarker-away-turn' : 'turnmarker-away' }}"></div>
        </div>
    </div>
</div>

<div class="game-free" ng-if="!loading">

    <div class="gamecontent">

        <div class="square-row">
            <div class="square {{ local_state.board[0][$index-1].selected ? 'selected' : '' }} {{ local_state.board[0][$index-1].available_position ? 'green' : '' }}" ng-repeat="n in [] | range:local_state.board[0].length + 2" ng-click="square(local_state.board[0][$index-1])"></div>
        </div>

        <div class="gameboard">
            <div class="dugout home">
                <div class="square-row" ng-repeat="n in [] | range:15">
                    <div class="square home {{ $index < 8 ? '' : ($index < 12 ? 'kod' : 'casualties' ) }} {{ local_state.home_dugout[$index][0].selected ? 'selected' : '' }} {{ local_state.home_dugout[$index][0].available_position ? 'green' : '' }}" ng-click="square(local_state.home_dugout[$index][0])" ng-mouseover="squareHover(local_state.home_dugout[$index][0])">
                        <div class="playericon align-middle text-center" ng-if="local_state.home_dugout[$index][0].player != null">
                            <img src="static/img/iconssmall/{{ local_state.home_dugout[$index][0].player_icon }}" />
                        </div>
                    </div>
                    <div class="square home {{ $index < 8 ? '' : ($index < 12 ? 'kod' : 'casualties' ) }} {{ local_state.home_dugout[$index][1].selected ? 'selected' : ''}} {{ local_state.home_dugout[$index][1].available_position ? 'green' : '' }}" ng-click="square(local_state.home_dugout[$index][1])" ng-mouseover="squareHover(local_state.home_dugout[$index][1])">
                        <div class="playericon align-middle text-center" ng-if="local_state.home_dugout[$index][1].player != null">
                            <img src="static/img/iconssmall/{{ local_state.home_dugout[$index][1].player_icon }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field {{ game.state.weather.toLowerCase().replace('_','') }}">
                <div class="square-row" ng-repeat="row in local_state.board.slice(1, local_state.board.length-1)">
                    <div class="square {{ local_state.board[$parent.$index+1][$index+1].selected ? 'selected' : '' }} {{ local_state.board[$parent.$index+1][$index+1].available_position ? 'green' : '' }}" ng-repeat="n in [] | range:row.length-2" ng-click="square(local_state.board[$parent.$index+1][$index+1])" ng-mouseover="squareHover(local_state.board[$parent.$index+1][$index+1])">
                        <div class="movenum">
                            {{ local_state.board[$parent.$index+1][$index+1].number }}
                        </div>
                        <div class="playericon align-middle text-center" ng-if="local_state.board[$parent.$index+1][$index+1].player != null">
                            <img src="static/img/iconssmall/{{ local_state.board[$parent.$parent.$index+1][$index+1].player_icon }}" class="{{ ['READY', 'DOWN_READY'].includes((local_state.board[$parent.$parent.$index+1][$index+1].player_state) ) ? '' : 'transparent'  }}" />
                        </div>
                        <div class="ballicon align-middle text-center" ng-if="local_state.board[$parent.$index+1][$index+1].ball">
                            <img ng-if="local_state.ball_in_air" src="static/img/ball/sball_30x30.png" />
                            <img ng-if="!local_state.ball_in_air" src="static/img/ball/sball_30x30.png" />
                        </div>
                        <div class="ballicon align-middle text-center" ng-if="local_state.board[$parent.$index+1][$index+1].roll">
                            <img src="static/img/icons/game/dice_small.png" class="transparent dice" />
                        </div>
                        <div class="ballicon align-middle text-center">
                            <img src="static/img/icons/decorations/block1dagainst.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == -1" />
                            <img src="static/img/icons/decorations/block2dagainst.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == -2" />
                            <img src="static/img/icons/decorations/block3dagainst.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == -3" />
                            <img src="static/img/icons/decorations/block1d.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == 1" />
                            <img src="static/img/icons/decorations/block2d.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == 2" />
                            <img src="static/img/icons/decorations/block3d.gif" class="blockDice" ng-if="local_state.board[$parent.$index+1][$index+1].block_roll == 3" />
                        </div>
                        <div class="stateicon align-middle text-center">
                            <img ng-if="local_state.board[$parent.$index+1][$index+1].player_state == 'STUNNED'" src="static/img/player_status/stunned.gif" />
                            <img ng-if="local_state.board[$parent.$index+1][$index+1].player_state == 'DOWN_READY'" src="static/img/player_status/prone.gif" />
                            <img ng-if="local_state.board[$parent.$index+1][$index+1].player_state == 'DOWN_USED'" src="static/img/player_status/prone.gif" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="dugout away">
                <div class="square-row" ng-repeat="n in [] | range:15">
                    <div class="square away {{ $index < 8 ? '' : ($index < 12 ? 'kod' : 'casualties' ) }}  {{ local_state.away_dugout[$index][0].selected ? 'selected' : ''}} {{ local_state.away_dugout[$index][0].available_position ? 'green' : '' }}" ng-click="square(local_state.away_dugout[$index][0])" ng-mouseover="squareHover(local_state.away_dugout[$index][0])">
                        <div class="playericon align-middle text-center" ng-if="local_state.away_dugout[$index][0].player != null">
                            <img src="static/img/iconssmall/{{ local_state.away_dugout[$index][0].player_icon }}" />
                        </div>
                    </div>
                    <div class="square away {{ $index < 8 ? '' : ($index < 12 ? 'kod' : 'casualties' ) }}  {{ local_state.away_dugout[$index][1].selected ? 'selected' : ''}} {{ local_state.away_dugout[$index][1].available_position ? 'green' : '' }}" ng-click="square(local_state.away_dugout[$index][1])" ng-mouseover="squareHover(local_state.away_dugout[$index][1])">
                        <div class="playericon align-middle text-center" ng-if="local_state.away_dugout[$index][1].player != null">
                            <img src="static/img/iconssmall/{{ local_state.away_dugout[$index][1].player_icon }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="square-row">
            <div class="square {{ local_state.board[local_state.board.length-1][$index-1].selected ? 'selected' : '' }} {{ local_state.board[local_state.board.length-1][$index-1].available_position ? 'green' : '' }}" ng-repeat="n in [] | range:local_state.board[local_state.board.length-1].length + 2" ng-click="square(local_state.board[local_state.board.length-1][$index-1])"></div>
        </div>

        <div class="game-info">
            <div class="player-info">
                <div class="home team-box" ng-if="playerInFocus(game.home_team) != null">
                    <div class="icon-box red">
                        <img src="static/img/iconssmall/{{ playerIcon(playerInFocus(game.home_team), false) }}" width="48px" height="48px" />
                    </div>
                    <div class="stats-box left">
                        <div>
                            <span class="name-box">
                                {{playerInFocus(game.home_team).nr}}. <b>{{playerInFocus(game.home_team).position_name}}:</b> {{playerInFocus(game.home_team).name}}
                            </span>
                            <span style="float:right" class="label right label-{{ playerStateClass(playerInFocus(game.home_team)) }}">{{ playerState(playerInFocus(game.home_team)) }}</span>
                        </div>
                        <div>
                            <div class="attribute text-center">
                                <div class="gamelabel">MA</div>
                                <div class="value label label-success red">{{playerInFocus(game.home_team).ma}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">ST</div>
                                <div class="value label label-success red">{{playerInFocus(game.home_team).st}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">AG</div>
                                <div class="value label label-success red">{{playerInFocus(game.home_team).ag}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">AV</div>
                                <div class="value label label-success red">{{playerInFocus(game.home_team).av}}</div>
                            </div>
                            <div class="attribute">
                                <div class="gamelabel">Skills</div>
                                <div><span class="label label-success skill" ng-repeat="skill in playerInFocus(game.home_team).skills">{{ prettify(skill) }}</span>&nbsp</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="away team-box" ng-if="playerInFocus(game.away_team) != null">
                    <div class="icon-box blue">
                        <img src="static/img/iconssmall/{{ playerIcon(playerInFocus(game.away_team), false) }}" width="48px" height="48px" />
                    </div>
                    <div class="stats-box">
                        <div>
                            <span class="name-box">
                                {{playerInFocus(game.away_team).nr}}. <b>{{playerInFocus(game.away_team).position_name}}:</b> {{playerInFocus(game.away_team).name}}
                            </span>
                            <span style="float:right" class="label label-{{ playerStateClass(playerInFocus(game.away_team)) }}">{{ playerState(playerInFocus(game.away_team)) }}</span>
                        </div>
                        <div>
                            <div class="attribute text-center">
                                <div class="gamelabel">MA</div>
                                <div class="value label label-success blue">{{playerInFocus(game.away_team).ma}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">ST</div>
                                <div class="value label label-success blue">{{playerInFocus(game.away_team).st}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">AG</div>
                                <div class="value label label-success blue">{{playerInFocus(game.away_team).ag}}</div>
                            </div>
                            <div class="attribute text-center">
                                <div class="gamelabel">AV</div>
                                <div class="value label label-success blue">{{playerInFocus(game.away_team).av}}</div>
                            </div>
                            <div class="attribute">
                                <div class="gamelabel">Skills</div>
                                <div><span class="label label-success skill" ng-repeat="skill in playerInFocus(game.away_team).skills">{{ prettify(skill) }}</span>&nbsp</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-bar text-center">
                <span ng-repeat="action in game.available_actions">
                    <button ng-if="showActionAsButton(action)" type="button" class="btn btn-sm {{action.team == null ? 'btn-default' : (action.team ? 'btn-danger' : 'btn-primary')}}" ng-click="pickActionType(action)" ng-disabled="refreshing || action.disabled">
                        {{ prettify(action.action_type) }}
                    </button>
                    <span ng-repeat="die in action.dice">
                        <button type="button" class="btn btn-sm {{action.team == null ? 'btn-default' : (action.team ? 'btn-danger' : 'btn-primary')}} die" ng-click="pickDice($index)" ng-disabled="refreshing || action.disabled">
                            <img src="static/img/dice/attacker_down.png" ng-show="die.result=='ATTACKER_DOWN'" />
                            <img src="static/img/dice/both_down.png" ng-show="die.result=='BOTH_DOWN'" />
                            <img src="static/img/dice/push.png" ng-show="die.result=='PUSH'" />
                            <img src="static/img/dice/defender_down.png" ng-show="die.result=='DEFENDER_DOWN'" />
                            <img src="static/img/dice/defender_stumbles.png" ng-show="die.result=='DEFENDER_STUMBLES'" />
                        </button>
                    </span>
                </span>
            </div>
            <div id="gamelog" class="gamelog">
                <div ng-repeat="report in game.reports | reverse" ng-if="showReport(report)" class="report">
                    <div ng-repeat="roll in report.rolls | reverse" class="roll">
                        <span ng-repeat="die in roll.dice" class="die {{die.die_type == 'BB' ? die.die_type+'-'+die.result.toLowerCase() : die.die_type+'-'+die.result }}">

                        </span>
                        <span ng-if="roll.modifiers != null && roll.modifiers != 0" class="modifiers">
                            {{ roll.modifiers > 0 ? '+' + roll.modifiers : roll.modifiers }}
                        </span>
                        <span ng-if="roll.target != null" class="modifiers">
                            ({{ roll.target }})
                        </span>
                    </div>
                    <div>
                        <span ng-bind-html="reportBlock(report)"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
