<div class="game-free">
    <div class="scoreboard">
        <div class="row">
            <div class="col-sm-5">
                <div class="text-right">
                    <div class="gamelabel">
                        Home
                    </div>
                    <div>
                        {{game.home_team.name}}
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="text-center">
                    <div class="gamelabel">Score</div>
                    <div>{{game.state.home_state.score}} - {{game.state.away_state.score}}</div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="text-left">
                    <div class="gamelabel">
                        Away
                    </div>
                    <div>
                        {{game.away_team.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="game-free">

    <div class="gamecontent">

        <div class="square-row">
            <div class="square" ng-repeat="n in [] | range:30" ng-click="square('crowd', $index, 0)"></div>
        </div>

        <div class="gameboard">
            <div class="dugout">
                <div class="square-row" ng-repeat="n in [] | range:14">
                    <div class="square" ng-click="square('dugout-home', $index*2, 0)"></div>
                    <div class="square" ng-click="square('dugout-home', $index*2, 1)"></div>
                </div>
            </div>
            <div class="field">
                <div class="square-row" ng-repeat="row in game.state.field.board.slice(1, game.state.field.board.length-1)">
                    <div class="square" ng-repeat="n in [] | range:row.length-2" ng-click="square('field', $index+1, $parent.$index+1)">
                    </div>
                </div>
            </div>
            <div class="dugout">
                <div class="square-row" ng-repeat="n in [] | range:14">
                    <div class="square" ng-click="square('dugout-away', $index*2, 0)"></div>
                    <div class="square" ng-click="square('dugout-away', $index*2, 1)"></div>
                </div>
            </div>
        </div>

        <div class="square-row">
            <div class="square" ng-repeat="n in [] | range:30" ng-click="square('crowd', $index, 16)"></div>
        </div>

    </div>

</div>
